.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    justify-content:center;
    margin-top: 2vh; 
}
.button{
  width: 90vw;
  display: flex;
    flex-direction: row;
    width: 100vw;  
    justify-content: space-around;
}
.button button{
width: 15vw;
height: 7vh;
}
.photos img{
  width: 27vw;
  height: 40vh;
    border: 1px solid black;
    margin-Bottom: 2%;
    margin: 10px;
}